<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Pages <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li class="<%= path === '/' ? 'active' : ''%>"><a href="/prove02">Add Books</a></li>
              <li class="<%= path === '/show-book' ? 'active' : ''%>"><a href="/prove02/show-book">Show Books</a></li>
            </ul>
        </li>
      </ul>
    </div>
  </nav>
  