<!DOCTYPE html>
<html>

<head>
  <% include ../includes/headerProve02.ejs %> 
</head>

<body>
  <% include ../includes/navProve02.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
      </div>
    </div>
    <div class="container">
      <div>
        <table style = "width: 100%;">
            <tr>
              <th>Book Title</th>
              <th>Summary</th>
            </tr>
            <%for(book in bookTitle){ %>
            <tr>
              <td><%=bookTitle[book]%></td>
              <td><%=bookSummary[book]%></td>
            </tr>
           <% } %>
          </table>
      </div>

</body>

</html>